body {
    font-size: 15px;
    font-weight: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

body a:hover{
    color:#e8491d;
    font-weight: bold;
}

body a{
    color:#473E92;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
}

.container{
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.button{
    height:38px;
    background:#473E92;
    border:0;
    padding-left:20px;
    padding-right:20px;
    color:#ffffff;
    font-size: 18px;
}
.button1{
    border-radius: 5px;
    padding:13px 20px;
    background-color: #473E92;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    border: none;
}

.orange{
    color: #e8491d;
}

.grey{
    color:grey;
}

.center{
    text-align: center
}

ul{
    margin: 0;
    padding: 0;
}

/*header*/

header{
    background: #473E92;
}

header #sitebrand{
    float:left;
    color: #e8491d; 
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
}

header .highlight, header .current a{
    color:#ffffff;
    font-weight: bold
}

header a:hover{
    color:#e8491d;
    font-weight: bold;
}

header nav{
    float: right;
    margin-top: 20px;
}

header li{
    display: inline;
    padding: 0 25px 0 25px;
}

/*description*/

#description{
    min-height: 50px;
    text-align:center;
    border: #cdd6d5 1px solid;
    margin-bottom: 50px
}

/*searchbar*/

#searchbar input{
    padding: 8px;
    width: 50%;
    height: 15px;
}

/*meetups*/

#top_meet_1{
    float:left;
    color:#473E92;
}
#top_meet_2{
    float:right;
    margin-right: 50px;
    margin-top: 20px;
}

#meetups{
    margin:auto;
    width: 93%;
}

#meetups .meetup{
    width: auto;
    float:left;
    padding:20px;  
}

#meetups .meetup img{
    width:420px;
    height: 250px;
    position: relative;
    float: left; 
}

#meetups .date{
    float:left;
    margin-top: 8px;
    width: 15%;
}

#meetups .descpt{
    float:right;
    width: 85%;
}

/*signin and signup form*/

form.f1{
    padding: 20px;
    border-radius: 6px;
    border: #cdd6d5 1px solid;
}

input.login{
    width: 100%;
    padding: 13px 0 13px 0;
    margin: 5px 0 22px 0;
}
#form{
    width: 470px;
    margin-left: 30%;
    margin-top: 20px
}

/*statistics*/
.stat{
    display: inline-block;
    padding: 0 30px 0 30px;
    margin:0px
}

#rightborder{
    border-right: #cdd6d5 2px solid;
}
#leftborder{
    border-left: #cdd6d5 2px solid;
    border-right: #cdd6d5 2px solid 
}
#bottom{
    border-bottom: #cdd6d5 2px solid
}

/*meetup form*/
#meetupform{
    margin-top:5px;
    width: 500px;
    padding: 0;
    float:left;

}
input.meetupform{
    width: 100%;
    padding: 5px 0 5px 0;
    margin: 5px 0 5px 0;
}

/*footer*/
footer{
    background-color: #473E92;
    text-align: center;
    color: #ffffff;
    padding: 10px;
}

/*media quesries*/
@media(max-width: 768px){
    header,
    header #sitebrand,
    header nav,
    header nav li,
    textarea,
    #searchbar,
    #meetups .meetup,
    #meetups .meetup img,
    #top_meet_1,
    #top_meet_2,{
        float: none;
        text-align: center;
        width: 100%
    }
    #form,
    #meetupform{
        margin-left: 1%;
        margin-right:1%;
        width:100%
    }
    header{
        padding-bottom: 40px
    }
    #searchbar form input[type="text"]{
        width: 100%;
        margin-bottom: 10px;
    }
    #searchbar button{
        display: block;
        width: 100%
    }
}
   
